<toaster-container [toasterconfig]="toasterconfig">
</toaster-container>


<div id="wrapper">
  <!-- begin TOP NAVIGATION -->
  <app-header></app-header>
  <!-- end TOP NAVIGATION -->

  <!-- begin SIDE NAVIGATION -->
  <app-sidemenu [page]="_apiService.page"></app-sidemenu>
  <!-- end SIDE NAVIGATION -->

  <!-- begin MAIN PAGE CONTENT -->
  <div id="page-wrapper">

    <div class="spl-content">

      <!-- begin PAGE TITLE ROW -->
      <div class="row">
        <div class="col-lg-12">
          <div class="page-title">
            <!--<h1>
              Admin <small>Dashboard</small>
            </h1>-->
            <ol class="breadcrumb">
              <li><i class="fa fa-dashboard"></i> <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <!--<li class="active">Blank Page</li>-->
            </ol>
          </div>
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
      <!-- end PAGE TITLE ROW -->
      <div class="row">

        <div class="portlet portlet-default">
          <div class="portlet-heading">
            <div class="portlet-title">
              <h4> Allot Rooms</h4>
            </div>
            <!-- <div class="portlet-widgets">
              <i class="fa fa-plus-square" style="font-size:15px"></i> <a (click)="add()">Add Room</a>
            </div> -->
            <div class="clearfix"></div>
            <div class="clearfix"></div>
          </div>
          <div class="portlet-body">


            <div>
              <div class="form-horizontal">

                <div class="form-group">
                  <form [formGroup]="topForm">
                    <div class="col-md-3">
                      <label class="control-label">Enter Reg_no</label>
                      <input type="text" formControlName="reg_no" class="form-control" placeholder="Enter Reg_no">
                    </div>

                    <div class="col-md-2">
                      <label class="control-label"> Usertype :</label>
                      <select formControlName="utype" class="form-control">
                        <option selected value="std"> Student </option> 
                        <option value="stf"> Staff </option>        
                      </select>
                    </div>
                    <button class="btn btn-info btn-square" (click)="submit(topForm.value)" style="margin-top: 23px;">Submit </button>
                  </form>
                </div>
              </div>


              <!-- <div *ngIf="showdetails" class="row">
              <div class="col-lg-8 col-md-6">
                <div class="row">
                  <table class="table table-bordered" style="margin-left: 7px;">
                    <div class="col-lg-6 col-sm-6" style="padding: 8px;">
                      <table class="table table-hover table-bordered table-striped">
                        <tbody>
                          <tr>
                            <td colspan="2" style="font-weight: bolder;color: red;padding: 10px 69px;">
                              User Details</td>
                          </tr>
                          <tr>
                            <td width="150">Stud Name</td>
                            <th>Poorna</th>
                          </tr>
                          <tr>
                            <td>Reg No </td>
                            <th>CSE001</th>
                          </tr>
                          <tr>
                            <td>DOB</td>
                            <th>1995-05-02</th>
                          </tr>
                          <tr>
                            <td>Gender</td>
                            <th>Male</th>
                          </tr>
                          <tr>
                            <td>PwD(Person with Disability)</td>
                            <th>No</th>
                          </tr>
                          <tr>
                            <td>Distance bw (clg-hse) </td>
                            <th>60</th>
                          </tr>
                          <tr>
                            <td>College</td>
                            <th>REC</th>
                          </tr>
                          <tr>
                            <td> Branch </td>
                            <th>Cse</th>
                          </tr>
                          <tr>
                            <td>Year </td>
                            <th>2 nd</th>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-lg-6 col-sm-6" style="padding: 8px;">
                      <table class="table table-hover table-bordered table-striped">
                        <tbody>
                          <tr>
                            <td width="150">Father Name </td>
                            <th>Veerabadram</th>
                          </tr>
                          <tr>
                            <td>Father No</td>
                            <th>9665871255</th>
                          </tr>
                          <tr>
                            <td>Father Email</td>
                            <th>1234@gmail.com</th>
                          </tr>
                          <tr>
                            <td>Mother Name</td>
                            <th>anasuya</th>
                          </tr>
                          <tr>
                            <td>Address</td>
                            <th>vizag</th>
                          </tr>
                        </tbody>
                      </table>
                      <table class="table table-hover table-bordered table-striped">
                        <tr>
                          <td width="150">Gaurdian Name</td>
                          <th> Rama Rao </th>
                        </tr>
                        <tr>
                          <td>Relation</td>
                          <th>Son-in-law</th>
                        </tr>
                        <tr>
                          <td>Mobile No</td>
                          <th> 9587421568 </th>
                        </tr>
                        <tr>
                          <td>Email</td>
                          <th> rao@gmail.com </th>
                        </tr>
                        <tr>
                          <td>Address</td>
                          <th> Vizianagaram </th>
                        </tr>
                      </table>
                    </div>
                  </table>
                </div>
               </div>
              <div class="col-lg-4 col-md-6"> 
                <table class="table table-hover table-bordered table-striped">
                  <tr>
                    <td colspan="2" style="font-weight: bolder;color: red;padding: 10px 69px;">
                      Room Details</td>
                  </tr>
                  <tr>
                    <td width="150">Room No </td>
                    <th> 101 </th>
                  </tr>
                  <tr>
                    <td>Bed No</td>
                    <th> 3 </th>
                  </tr>
                  <tr>
                    <td>Room Type</td>
                    <th> AC </th>
                  </tr>
                </table>
                <table class="table table-hover table-bordered table-striped">
                  <tr>
                    <td width="150"> Block Id </td>
                    <th> 12 </th>
                  </tr>
                  <tr>
                    <td>Hostel Id</td>
                    <th> 3 </th>
                  </tr>
                </table>

               </div>
              <div class="col-lg-12">
                
                <button (click)="delete()" class="btn btn-danger btn-square pull-right"> Delete</button>&nbsp;
                <button class="btn btn-default btn-square pull-right" style="margin-right: 5px;"> Edit</button>
               </div>
               </div> -->

              
              <div *ngIf="showdetails" class="row">
                <div class="col-lg-8 col-md-6" *ngIf="!invaliduser && !shownodetails">
                  <div class="row">
                    <table class="table table-bordered" style="margin-left: 7px;">
                      <div class="col-lg-6 col-sm-6" style="padding: 8px;">
                        <table class="table table-hover table-bordered table-striped">
                          <tbody>
                            <tr>
                              <td colspan="2" style="font-weight: bolder;color: red;padding: 10px 69px; text-align: center;">
                                User Details</td>
                            </tr>
                            <tr>
                              <td width="150">User Name</td>
                              <th>{{userdetails.firstname}}
                                <span *ngIf="userdetails.rstatus=='allocated'" class="btn btn-success btn-sm pull-right" tooltipPlacement="top" tooltip="{{userdetails.rstatus}}">{{userdetails.rstatus | slice:0:1 | uppercase}}{{userdetails.rstatus | slice:1:4}}</span>
                                <span *ngIf="userdetails.rstatus=='accepted'" class="btn btn-info btn-sm pull-right" tooltipPlacement="top" tooltip="{{userdetails.rstatus}}">{{userdetails.rstatus | slice:0:1 | uppercase}}{{userdetails.rstatus | slice:1:4}}</span>
                                <span *ngIf="userdetails.rstatus=='waiting'" class="btn btn-primary btn-sm pull-right" tooltipPlacement="top" tooltip="{{userdetails.rstatus}}">{{userdetails.rstatus | slice:0:1 | uppercase}}{{userdetails.rstatus | slice:1:4}}</span>
                                <span *ngIf="userdetails.rstatus=='pending'" class="btn btn-warning btn-sm pull-right" tooltipPlacement="top" tooltip="{{userdetails.rstatus}}">{{userdetails.rstatus | slice:0:1 | uppercase}}{{userdetails.rstatus | slice:1:4}}</span>
                                <span *ngIf="userdetails.rstatus=='deallocated'" class="btn btn-default btn-sm pull-right" tooltipPlacement="top" tooltip="{{userdetails.rstatus}}">{{userdetails.rstatus | slice:0:1 | uppercase}}{{userdetails.rstatus | slice:1:4}}</span>

                              </th>
                            </tr>
                            <tr>
                              <td>Reg No </td>
                              <th>{{userdetails.reg_no}}</th>
                            </tr>
                            <tr>
                              <td>DOB</td>
                              <th>{{userdetails.dob}}</th>
                            </tr>
                            <tr>
                              <td>Gender</td>
                              <th *ngIf="userdetails.gender=='M'">Male</th>
                              <th *ngIf="userdetails.gender=='F'">Female</th>
                            </tr>
                            <tr>
                              <td> Disability</td>
                              <th>{{userdetails.disability}}</th>
                            </tr>
                            <tr>
                              <td> Blood Group</td>
                              <th>{{userdetails.bloodgroup}}</th>
                            </tr>
                            <tr>
                              <td>Distance to Clg </td>
                              <th>{{userdetails.distance}}</th>
                            </tr>
                            <tr>
                              <td>Mobile </td>
                              <th>{{userdetails.mobile}}</th>
                            </tr>
                            <tr>
                              <td>College</td>
                              <th>{{userdetails.college}}</th>
                            </tr>
                            <tr *ngIf="userdetails.utype=='std'">
                              <td>Course </td>
                              <th>{{userdetails.course}}</th>
                            </tr>
                            <tr *ngIf="userdetails.utype=='std'">
                              <td> Branch </td>
                              <th>{{userdetails.branch}}</th>
                            </tr>
                            <tr *ngIf="userdetails.utype=='stf'">
                              <td>Department </td>
                              <th>{{userdetails.department}}</th>
                            </tr>
                            <tr *ngIf="userdetails.utype=='stf'">
                              <td>Designation </td>
                              <th>{{userdetails.designation}}</th>
                            </tr>
                            <tr *ngIf="userdetails.utype=='stf'">
                              <td>Employement Type </td>
                              <th>{{userdetails.employement_type}}</th>
                            </tr>
                            <tr *ngIf="userdetails.utype=='std'">
                                <td>Year </td>
                                <th>{{userdetails.year}}</th>
                              </tr>
                              <tr *ngIf="userdetails.utype=='std'">
                                <td>Section </td>
                                <th>{{userdetails.section}}</th>
                              </tr>

                          </tbody>
                        </table>
                      </div>
                      <div class="col-lg-6 col-sm-6" style="padding: 8px;">
                        <table class="table table-hover table-bordered table-striped">
                          <tbody>
                          
                            <tr >
                                <td width="150">Selected Room Type </td>
                                <th>{{userdetails.selectedtype}}</th>
                              </tr>
                              <tr >
                                <td>Applied location </td>
                                <th>{{userdetails.appliedlocation}}</th>
                              </tr>

                          </tbody>
                        </table>
                        <table class="table table-hover table-bordered table-striped">
                          <tbody>
                            <tr>
                              <td width="150">Father Name </td>
                              <th>{{userdetails.fathername}}</th>
                            </tr>
                            <tr>
                              <td width="150">Mother Name </td>
                              <th>{{userdetails.mothername}}</th>
                            </tr>
                            <tr>
                              <td>Father Income</td>
                              <th>{{userdetails.father_income}}</th>
                            </tr>
                            <tr>
                              <td>Father Email</td>
                              <th>{{userdetails.parentemail}}</th>
                            </tr>
                            <tr>
                              <td>Father Mobile</td>
                              <th>{{userdetails.mothername}}</th>
                            </tr>
                            <tr>
                              <td>Address</td>
                              <th>{{userdetails.parent_address}}</th>
                            </tr>
                          </tbody>
                        </table>
                        <table class="table table-hover table-bordered table-striped">
                          <tr>
                            <td width="150">Gaurdian Name</td>
                            <th> {{userdetails.guardianname}} </th>
                          </tr>
                          <tr>
                            <td>Relation</td>
                            <th>{{userdetails.guardianrelation}}</th>
                          </tr>
                          <tr>
                            <td>Mobile No</td>
                            <th> {{userdetails.guardianmobile}} </th>
                          </tr>
                          <tr>
                            <td>Email</td>
                            <th> {{userdetails.guardianemail}} </th>
                          </tr>
                          <tr>
                            <td>Address</td>
                            <th> {{userdetails.guardianaddress}} </th>
                          </tr>
                          <!-- <tr>
                              <td>User Status</td>
                              <th> {{userdetails.rstatus}} </th>
                            </tr> -->
                        </table>
                      </div>
                    </table>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6" *ngIf="!invaliduser && !shownodetails && !shownoroom && !enableform">
                  <table class="table table-hover table-bordered table-striped">
                    <tr>
                      <td colspan="2" style="font-weight: bolder;color: red;padding: 10px 69px;">
                        Room Details</td>
                    </tr>
                    <tr>
                      <td>Hostel Name</td>
                      <th> {{userdetails.hostelname}} </th>
                    </tr>
                    <tr>
                      <td>Floor No</td>
                      <th> {{userdetails.floorno}} </th>
                    </tr>
                    <tr>
                      <td width="150">Room No </td>
                      <th> {{userdetails.roomno}} </th>
                    </tr>
                    <tr>
                      <td>Bed No</td>
                      <th> {{userdetails.bedno}} </th>
                    </tr>
                  </table>
                  <table class="table table-hover table-bordered table-striped">
                    <tr>
                      <td>Room Type</td>
                      <th> {{userdetails.type}} </th>
                    </tr>
                    <tr>
                      <td width="150">Hostel Type</td>
                      <th> {{userdetails.hosteltype}} </th>
                    </tr>
                    <tr>
                      <td>Hostel Location</td>
                      <th> {{userdetails.hlocation}} </th>
                    </tr>

                  </table>

                </div>
                <div class="col-lg-4 col-md-6" *ngIf="!invaliduser && !shownodetails && shownoroom && !enableform">
                  <table class="table table-hover table-bordered table-striped">
                    <tr>
                      <td colspan="2" style="font-weight: bolder;color: red;padding: 10px 69px;">
                        Room Details</td>
                    </tr>
                    <tr>
                      <td colspan="2" style="font-weight: bolder;color: red;padding: 10px 69px;">
                        <h4> No Room Allocated on this Reg_no {{submitreg_no}}</h4>
                      </td>
                    </tr>

                  </table>
                </div>
                <form [formGroup]="newForm" *ngIf="!invaliduser && !shownodetails && shownoroom && enableform">
                  <div class="col-lg-4 col-md-6">

                    <div class="col-md-12" style="border:1px solid #ddd;">
                      <div class="form-horizontal">
                        <div class="form-group text-center" style="background-color: #f9f9f9; border-bottom: 1px solid #ddd;padding: 5px;">
                          <label class="control-label">Enter Room Details</label>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-5"> Hostel Name : </label>
                          <div class="col-md-6">
                            <select formControlName="hid" class="form-control" (change)="getRooms($event.target.value)" required>
                            <option *ngFor="let item of hostelsdata" value="{{item.hid}}"> {{item.hostelname}} </option>  
                          </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-5"> Hostel Type : </label>
                          <div class="col-md-6">
                            <input id="ht" type="text" formControlName="hosteltype" class="form-control" name="Boys" disabled>
                            <!-- <input *ngIf="userdetails.genderT=='F'" id="ht" type="text" formControlName="hosteltype" class="form-control"  name="Girls" value="Girls"> -->
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-5"> Room No : </label>
                          <div class="col-md-6">
                            <select formControlName="rcid" class="form-control" (change)="getbedss($event.target.value)" required>
                          <option *ngFor="let item of roomslists" (click)="goroomtype=item.type;roomno=item.roomno" value="{{item.rcid}}"> {{item.roomno}} - {{item.type}} </option>  
                        </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-5"> Bed No : </label>
                          <div class="col-md-6">
                            <select formControlName="bedno" class="form-control" required>
                        <option *ngFor="let item of bedlists" value="{{item}}"> {{item}} </option>  
                      </select>
                          </div>
                        </div>
                        <!-- <div class="form-group">
                          <label class="control-label col-md-5"> Room Type : </label>
                          <div class="col-md-4">
                            <select formControlName="roomtype" class="form-control" required>
                          <option  value="AC"> AC </option>
                          <option value="Non-AC"> Non-AC </option> 
                        </select>
                          </div>
                        </div> -->

                      </div>
                      <button (click)="back()" class="btn btn-primary btn-square pull-right" style="margin-right: 5px;"> Back </button>&nbsp;
                      <button class="btn btn-info btn-square pull-right" (click)="allocateroom(newForm.value)" style="margin-right: 5px;">Submit</button>
                      <div class="clearfix"></div><br>
                    </div>


                  </div>

                </form>

              </div>
              <div *ngIf="shownodetails && searchval!='roomno'" class="row">
                <h3> &nbsp; &nbsp; &nbsp; The User Must be Registered </h3>
              </div>

              <div *ngIf="invaliduser && searchval!='roomno'" class="row">
                <h3> &nbsp; &nbsp; &nbsp; You Entered reg_no {{ submitreg_no }} is not Available in <span *ngIf="usertype=='stf'"> Staff </span>
                  <span *ngIf="usertype=='std'"> Student </span> Details </h3>
              </div>

              <div *ngIf="invaliduser && searchval=='roomno'" class="row">
                <h3> &nbsp; &nbsp; &nbsp; Room NO {{roomval}} Bed NO {{bedval}} is Free </h3>
              </div>
              <div *ngIf="enablebuttons">
                <ng-template #del><button *ngIf="!shownodetails" (click)="delete()" class="btn btn-danger btn-square pull-right" style="margin-right: 5px;"> Empty Room </button></ng-template>
                <button *ngIf="shownoroom && !shownodetails else del" (click)="click()" class="btn btn-info btn-square pull-right" style="margin-right: 5px;"> Allocate </button>&nbsp;
                <button *ngIf="!shownoroom && !shownodetails" (click)="click()" class="btn btn-info btn-square pull-right" style="margin-right: 5px;"> Change </button>&nbsp;
                <!-- <button *ngIf="shownodetails && searchval!='roomno'" (click)="regisForm()" class="btn btn-default btn-square pull-right" style="margin-right: 5px;"> Register </button> -->

                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- end DASHBOARD CIRCLE TILES -->
      </div>
      <!-- /.page-content -->
    </div>
    <!-- /#page-wrapper -->
    <!-- end MAIN PAGE CONTENT -->
  </div>
</div>
<!-- <popup #popup1 (confirmClick)="addRoom(newForm.value)">

  <form [formGroup]="newForm">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-md-4"> Room No : </label>
        <div class="col-md-4">
          <input class="form-control" formControlName="roomno">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4"> Total Beds : </label>
        <div class="col-md-4">
          <input class="form-control" formControlName="totbeds">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4"> Select Room Type : </label>
        <div class="col-md-4">
          <select formControlName="roomtype" class="form-control" (change)="getTypeof2($event)">
                     <option *ngFor="let item of typelist" value="{{item.type"> {{item.type}} </option>  
                  </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4"> Select Hostel Type : </label>
        <div class="col-md-4">
          <select formControlName="hosteltype" class="form-control" (change)="getHstType($event)">
                     <option  value="Girls"> Girls </option>
                        <option  value="Boys"> Boys </option>    
                  </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4"> Hostel Id : </label>
        <div class="col-md-4">
          <input class="form-control" formControlName="hostelid">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4"> Block Id : </label>
        <div class="col-md-4">
          <input class="form-control" formControlName="blockid">
        </div>
      </div>
    </div>
  </form>
</popup> -->

<popup #popup2 (confirmClick)="editRoom(editForm.value)">
  <form [formGroup]="editForm">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-md-4"> Room No : </label>
        <div class="col-md-4">
          <input class="form-control" formControlName="roomno">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4"> Avail Beds : </label>
        <div class="col-md-4">
          <input class="form-control" formControlName="avlbeds">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4"> Total Beds : </label>
        <div class="col-md-4">
          <input class="form-control" formControlName="totbeds">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4"> Room Status : </label>
        <div class="col-md-4">
          <select formControlName="rcstatus" class="form-control">
                   <option  value="available"> Available </option>
                   <option value="filled"> Filled </option> 
                  </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4"> Select Room Type : </label>
        <div class="col-md-4">
          <select formControlName="roomtype" class="form-control">
                     <option *ngFor="let item of typelist" value="{{item.type}}"> {{item.type}} </option>  
                  </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4"> Select Hostel Type : </label>
        <div class="col-md-4">
          <select formControlName="hosteltype" class="form-control">
                     <option  value="Girls"> Girls </option>
                        <option  value="Boys"> Boys </option>    
                  </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4"> Hostel Id : </label>
        <div class="col-md-4">
          <input class="form-control" formControlName="hostelid">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4"> Block Id : </label>
        <div class="col-md-4">
          <input class="form-control" formControlName="blockid">
        </div>
      </div>
    </div>
  </form>
</popup>

<popup #popup3 (confirmClick)="freetheroom()">

  <h3>Are you sure to Delete this user from this Room {{ userdetails.roomno }} and Bed No {{ userdetails.bedno }}</h3>

</popup>

<popup #popup4>
  <div class="col-md-6">
    <h4>User Details</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Type</th>
          <th>Detail</th>101
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Name</td>
          <td>{{fullview.firstname}}</td>
        </tr>
        <tr>
          <td>DOB</td>
          <td>{{fullview.dob}}</td>
        </tr>
        <tr>
          <td>Mobile</td>
          <td>{{fullview.mobile}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{fullview.email}}</td>
        </tr>
        <tr>
          <td>Gender</td>
          <td>{{fullview.gender}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-responsive col-md-6">
    <h4>Parent Details </h4>
    <table class="table">
      <thead>
        <tr>
          <th>Type</th>
          <th>Detail</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Father Name</td>
          <td>{{fullview.fname}}</td>
        </tr>
        <tr>
          <td>Occupation</td>
          <td>{{fullview.occupation}}</td>
        </tr>
        <tr>
          <td>Mobile</td>
          <td>{{fullview.parentmobile}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{fullview.parentemail}}</td>
        </tr>
        <tr>
          <td>Address</td>
          <td>{{fullview.permanentaddress}}</td>
        </tr>
        <tr>
          <td>Name</td>
          <td>{{fullview.parentemail</td>
        </tr>
      </tbody>

    </table>
  </div>
  <button (click)="hide()" class="pull-right btn btn-info btn-square"> Close </button>
  <div class="clearfix"></div>
</popup>