.input-icon {
  position: relative;
}

.input-icon > i {
  position: absolute;
  display: block;
  transform: translate(0, -50%);
  top: 50%;
  pointer-events: none;
  width: 25px;
  text-align: center;
	font-style: normal;
}

.input-icon > input {
  padding-left: 25px;
	padding-right: 0;
}
.input-height{
  height: 25px;
}

 .wrapperr{
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -o-filter: blur(6px);
    -ms-filter: blur(6px);
    filter: blur(6px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
}
.top-mrg{
  margin-top: 6px !important;
}
hr {
    border-top: 1px solid #ccc;
}