<toaster-container [toasterconfig]="toasterconfig">
</toaster-container>

<div id="wrapper">
  <!-- begin TOP NAVIGATION -->
  <app-header></app-header>
  <!-- end TOP NAVIGATION -->
  <!-- begin SIDE NAVIGATION -->
  <app-sidemenu [page]="_apiService.page"></app-sidemenu>
  <!-- end SIDE NAVIGATION -->
  <!-- begin MAIN PAGE CONTENT -->
  <div id="page-wrapper">
    <div class="spl-content">
      <!-- begin PAGE TITLE ROW -->
      <div class="row">
        <div class="col-lg-12">
          <div class="page-title">
            <!--<h1>
              Admin <small>Dashboard</small>
            </h1>-->
            <ol class="breadcrumb">
              <li><i class="fa fa-dashboard"></i> <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <!--<li class="active">Blank Page</li>-->
            </ol>
          </div>
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
      <!-- end PAGE TITLE ROW -->
      <div class="row">
        <div class="col-md-12">
          <div class="portlet portlet-default">
            <div class="portlet-heading">
              <div class="portlet-title">
                <h4>Hostel Room Registration</h4>
              </div>
              <!-- <div class="portlet-widgets">
                <i class="fa fa-plus-square" style="font-size:15px"></i> <a (click)="ClickButton()">Add Type</a>
              </div> -->
              <div class="clearfix"></div>
            </div>
            <div class="portlet-body">
              <form [formGroup]="reg_Form" >
                <div class="form-horizontal" *ngIf="utype=='adm'">
                  <div class="form-group">
                    <div class="col-md-4" >
                      <label>User Type :</label>
                      <select class="form-control" name="utype" formControlName="utype" (change)="getuserdata($event.target.value)">
                          <option value="std">Student</option>
                          <option value="stf">Staff</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div><br/>
                <div class="form-horizontal">
                  <div class="form-group">
                    <div class="col-md-4" *ngIf="utype=='adm'">
                      <label>Register Number</label>
                      <angular2-multiselect style="padding:6px !important ;" [(ngModel)]="showusers" [data]="studsData" class="form-control" name="reg_no" formControlName="reg_no"
                        [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"></angular2-multiselect>
                      <!-- <input type="text" class="form-control" name="reg_no" formControlName="reg_no" required /> -->
                    </div>
                    <div class="col-md-4" *ngIf="utype!='adm'">
                      <label>Register Number</label>
                      <input type="text" class="form-control" name="reg_no" disabled formControlName="reg_no" required />
                    </div>
                    <div class="col-md-4">
                      <label>Student Name</label>
                      <input type="text" class="form-control" name="studentname" formControlName="studentname" required disabled />
                    </div>
                    <div class="col-md-4">
                      <label>Hostel Location</label>
                      <select class="form-control" name="hostellocation" formControlName="hostellocation" (change)="hostelChange($event.target.value)"> 
                        <option *ngFor="let types of selectedhosteldata" value="{{types.hid}}">{{types.hlocation}}</option>                        
                        <!-- <option value="all">Any</option> -->
                    </select>
                    </div>
                  </div>  <br>
                   <div class="form-group">

                    <div *ngIf="hlpriority">
                    <div class="col-md-4">
                      <label>Location Priority</label>
                      <select class="form-control" name="locationpriority" formControlName="locationpriority">
                        <option *ngFor="let types of selectedhosteldata" value="{{types.hid}}">{{types.hlocation}}</option>
                      </select>
                    </div>
                    </div>
                    <div class="col-md-4">
                      <label>Room Type</label>
                      <select class="form-control" name="roomtype" formControlName="roomtype" (change)="RoomChange($event)">
                      <option *ngFor="let types of roomType" value="{{types.typeid}}">{{types.type}}</option>
                      <option value="all">Any </option>
                  </select>
                    </div>
                    <div *ngIf="priority">
                    <div class="col-md-4">
                      <label>Room Priority</label>
                      <select class="form-control" name="typepriority" formControlName="typepriority">
                      <option *ngFor="let types of roomType" value="{{types.typeid}}">{{types.type}}</option>
                    </select>
                    </div>
                    </div>
                    <div class="clearfix"></div><br>
                    <div class="col-md-6 pull-right text-right"><button *ngIf="!change" (click)="addRegistrtion(reg_Form.value)" class="btn btn-default btn-sm btn-square" style="margin-right: 5px;">Submit</button><button *ngIf="change" (click)="changeRegis(reg_Form.value)" class="btn btn-default btn-sm btn-square" style="margin-right: 5px;">Change</button><button (click)="cancel()" class="btn btn-danger btn-sm btn-square">Cancel</button></div>
                  </div>
                </div>
              </form>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- end DASHBOARD CIRCLE TILES -->
    </div>
    <!-- /.page-content -->
  </div>
  <!-- /#page-wrapper -->
  <!-- end MAIN PAGE CONTENT -->
</div>