<nav class="navbar-side" role="navigation">
  <div class="navbar-collapse sidebar-collapse collapse">
    <ul id="side" class="nav navbar-nav side-nav">
      <!-- begin SIDE NAV USER PANEL -->
      <li class="side-user hidden-xs">
        <img class="img-circle" src={{img}} height="150px" alt="">
        <p class="welcome">
          <i class="fa fa-key"></i> Logged in as
        </p>
        <p class="name tooltip-sidebar-logout">
          {{usertype}}
          <span class="last-name">{{name}}</span> <a style="color: inherit" class="logout_open" href="#logout" data-toggle="tooltip"
            data-placement="top" title="Logout"><i class="fa fa-sign-out"></i></a>
        </p>
        <div class="clearfix"></div>
      </li>
      <!-- end SIDE NAV USER PANEL -->
      <!-- begin SIDE NAV SEARCH -->
      <!--<li class="nav-search">
          <form role="form">
            <input type="search" class="form-control" placeholder="Search...">
            <button class="btn">
                <i class="fa fa-search"></i>
            </button>
          </form>
        </li>-->
      <!-- end SIDE NAV SEARCH -->
      <!-- begin DASHBOARD LINK -->
      <li>
        <a style="background-color:#16a085" [ngClass]="{'active': (page=='dashboard')}" [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a>
      </li>
      <!-- end DASHBOARD LINK -->
      <!-- <li>
        <a [ngClass]="{'active': (page=='staff')}" [routerLink]="['/staff']"><i class="fa fa-users"></i> Hostel</a>
      </li> -->
      <!--  <li>
        <a><i class="fa fa-book"></i> Library</a>
      </li>
      <li>
        <a><i class="fa fa-file-o"></i> Issue Register</a>
      </li>
      <li>
        <a><i class="fa fa-comments"></i> Grievances & Complaints</a>
      </li> -->
      <!-- begin CHARTS DROPDOWN -->
      <li class="panel">
        <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#hostel">
              <i class="fa fa-users"></i> Hostel <i class="fa fa-caret-down"></i>
          </a>
        <ul class="nav" id="hostel">
          <li>
            <a [ngClass]="{'active': (page=='roomtype')}" [routerLink]="['/roomtype']">
                  <i class="fa fa-angle-double-right"></i> Room Types
              </a>
          </li>
          <li>
            <a [ngClass]="{'active': (page=='hostelconfig')}" [routerLink]="['/hostelconfig']">
                    <i class="fa fa-angle-double-right"></i> Hostel Configuration
                </a>
          </li>
          <li>
            <a [ngClass]="{'active': (page=='roomsconfig')}" [routerLink]="['/roomsconfig']">
                      <i class="fa fa-angle-double-right"></i> Rooms Configuration
                  </a>
          </li>
          <li>
            <a [ngClass]="{'active': (page=='bookings')}" [routerLink]="['/bookings']">
                  <i class="fa fa-angle-double-right"></i> Bookings
              </a>
          </li>
          <li>
            <a [ngClass]="{'active': (page=='registration')}" [routerLink]="['/registration']">
                    <i class="fa fa-angle-double-right"></i> Registration Form
                </a>
          </li>
          <li>
            <a [ngClass]="{'active': (page=='allot')}" [routerLink]="['/allot']">
                    <i class="fa fa-angle-double-right"></i> Selection Process
                </a>
          </li>

          <li>
            <a [ngClass]="{'active': (page=='assainroomstest')}" [routerLink]="['/assainroomstest']">
                    <i class="fa fa-angle-double-right"></i> Allot Rooms
                </a>
          </li>
          <li>
            <a [ngClass]="{'active': (page=='hostelers')}" [routerLink]="['/hostelers']">
                    <i class="fa fa-angle-double-right"></i> Occupancy Status
                </a>
          </li>

          <!-- <li>
            <a [ngClass]="{'active': (page=='complaints')}" [routerLink]="['/complaints']">
                <i class="fa fa-angle-double-right"></i> Complaints
            </a>
          </li> -->
          <li>
            <a [ngClass]="{'active': (page=='complaintslist')}" [routerLink]="['/complaintslist']">
                <i class="fa fa-angle-double-right"></i> Complaints List
            </a>
          </li>
          <!-- <li>
            <a [ngClass]="{'active': (page=='feeconfig')}" [routerLink]="['/feeconfig']">
                  <i class="fa fa-angle-double-right"></i> Fee Config
              </a>
          </li> -->


          <!-- <li>
            <a [ngClass]="{'active': (page=='assignrooms')}" [routerLink]="['/assignrooms']">
                  <i class="fa fa-angle-double-right"></i> Assign Rooms
              </a>
          </li>
             <li>
            <a [ngClass]="{'active': (page=='changeroom')}" [routerLink]="['/changeroom']">
                  <i class="fa fa-angle-double-right"></i> Change Rooms
              </a>
          </li> -->

          <li>
            <a [ngClass]="{'active': (page=='maintenancehistory')}" [routerLink]="['/maintenancehistory']">
                  <i class="fa fa-angle-double-right"></i> Maintenance History
              </a>
          </li>
          <!-- <li>
            <a [ngClass]="{'active': (page=='maintenancepayment')}" [routerLink]="['/maintenancepayment']">
                  <i class="fa fa-angle-double-right"></i> Maintenance Payment
              </a>
          </li> -->
          <li>
            <a [ngClass]="{'active': (page=='servicestype')}" [routerLink]="['/servicestype']">
                    <i class="fa fa-angle-double-right"></i> Services Types
                </a>
          </li>


        </ul>
      </li>
      <li class="panel">
        <a href="javascript:;" data-parent="#side2" data-toggle="collapse" class="accordion-toggle collapsed" data-target="#mess">
              <i class="fa fa-university"></i> Mess <i class="fa fa-caret-down"></i>
          </a>
        <ul class="nav" id="mess">
          <li>
            <a [ngClass]="{'active': (page=='messincharg')}" [routerLink]="['/messincharg']">
                  <i class="fa fa-angle-double-right"></i> Material Management
              </a>
          </li>
          <li>
            <a [ngClass]="{'active': (page=='menulist')}" [routerLink]="['/menulist']">
                  <i class="fa fa-angle-double-right"></i> Menu List
              </a>
          </li>
          <li>
            <a [ngClass]="{'active': (page=='purchase')}" [routerLink]="['/purchase']">
                  <i class="fa fa-angle-double-right"></i> Request Management
              </a>
          </li>
          <li>
            <a [ngClass]="{'active': (page=='purchaseitems')}" [routerLink]="['/purchaseitems']">
                  <i class="fa fa-angle-double-right"></i> To be Purchased
              </a>
          </li>
          <li>
            <a [ngClass]="{'active': (page=='purchases')}" [routerLink]="['/purchases']">
                  <i class="fa fa-angle-double-right"></i> Purchaser Management
              </a>
          </li>
          <li>
            <a [ngClass]="{'active': (page=='report')}" [routerLink]="['/report']">
                  <i class="fa fa-angle-double-right"></i> Reports
              </a>
          </li>

        </ul>
      </li>
      <!-- <li>
        <a [ngClass]="{'active': (page=='college')}" [routerLink]="['/college']"><i class="fa fa-university"></i> College</a>
      </li>
      <li>
        <a [ngClass]="{'active': (page=='departments')}" [routerLink]="['/departments']"><i class="fa fa-university"></i> Departments</a>
      </li>
      <li>
        <a [ngClass]="{'active': (page=='courses')}" [routerLink]="['/courses']"><i class="fa fa-book"></i>Courses</a>
      </li>
      <li>
        <a [ngClass]="{'active': (page=='branches')}" [routerLink]="['/branches']"><i class="fa fa-snowflake-o"></i>Branches</a>
      </li>
      <li>
        <a [ngClass]="{'active': (page=='designations')}" [routerLink]="['/designations']"><i class="fa fa-user"></i>Designations</a>
      </li>
      <li>
        <a [ngClass]="{'active': (page=='year')}" [routerLink]="['/year']"><i class="fa fa-calendar"></i>Year</a>
      </li> -->
      <!-- end PAGES DROPDOWN -->
    </ul>
    <!-- /.side-nav -->
  </div>
  <!-- /.navbar-collapse -->
</nav>
<!-- /.navbar-side -->