<toaster-container [toasterconfig]="toasterconfig">
</toaster-container>

<div id="wrapper">
  <!-- begin TOP NAVIGATION -->
  <app-header></app-header>
  <!-- end TOP NAVIGATION -->

  <!-- begin SIDE NAVIGATION -->
  <app-sidemenu [page]="_apiService.page"></app-sidemenu>
  <!-- end SIDE NAVIGATION -->

  <!-- begin MAIN PAGE CONTENT -->
  <div id="page-wrapper">

    <div class="spl-content">

      <!-- begin PAGE TITLE ROW -->
      <div class="row">
        <div class="col-lg-12">
          <div class="page-title">
            <!--<h1>
              Admin <small>Dashboard</small>
            </h1>-->
            <ol class="breadcrumb">
              <li><i class="fa fa-dashboard"></i> <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <!--<li class="active">Blank Page</li>-->
            </ol>
          </div>
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
      <!-- end PAGE TITLE ROW -->
      <div class="row">

        <div class="portlet portlet-default">
          <div class="portlet-heading">
            <div class="portlet-title">
              <h4> Rooms Configuration </h4>
            </div>
            <div class="portlet-widgets">
              <i class="fa fa-plus-square" style="font-size:15px"></i> <a (click)="add()">Add Room</a>
            </div>
            <div class="clearfix"></div>
            <div class="clearfix"></div>
          </div>
          <div class="portlet-body">
            <div class="">
              <form [formGroup]="topForm">
                <div class="form-horizontal">
                  <div class="form-group">
                    <label class="control-label col-md-2"> Select Room Type : </label>
                    <div class="col-md-2">
                      <select formControlName="roomtype" class="form-control">
                     <option *ngFor="let item of typelist" value="{{item.type}}"> {{item.type}} </option> 
                      <option value="all"> ALL </option>  
                  </select>
                    </div>

                    <label class="control-label col-md-2"> Select Hostel Type : </label>
                    <div class="col-md-2">
                      <select formControlName="hosteltype" class="form-control">
                     <option  value="Girls"> Girls </option>
                        <option value="Boys"> Boys </option>    
                  </select>
                    </div>
                    <button class="btn btn-info btn-square" (click)="submit(topForm.value)">Submit </button>
                  </div>

                </div>

              </form>
            </div>
            <form #form="ngForm">
              <table id="employee" [mfData]="roomsdata | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy"
                [(mfSortOrder)]="sortOrder" class="table table-striped table-bordered dt-responsive nowrap table-hover table-green"
                cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>
                      <mfDefaultSorter by="">#</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="roomno">Room No</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="avlbeds">Avail Beds</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="">Filled Beds</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="totbeds">Total Beds</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="rcstatus">Status</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="roomtype">Room Type</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="roomrent">Room Rent</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="hosteltype">Hstl Type</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="hosteltype">Hstl Id</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="hosteltype">Block Id</mfDefaultSorter>
                    </th>
                    <th style="text-align:center">
                      <mfDefaultSorter by="">Action</mfDefaultSorter>
                    </th>
                  </tr>
                </thead>
                <tbody *ngIf="mf.data.length != 0">
                  <tr *ngFor="let dt of mf.data; let i=index;">
                    <td>{{i+1}}</td>
                    <td>{{dt.roomno}}</td>
                    <td>{{dt.avlbeds }} &nbsp;
                      <button [disabled]="dt.avlbeds<=0" (click)="view(dt)" class="btn btn-green btn-xs btn-square"><span tooltipPlacement="top" tooltip="view"><i class="fa fa-eye"></i></span></button>
                    </td>
                    <td>{{dt.totbeds-dt.avlbeds }} &nbsp;
                      <button [disabled]="(dt.totbeds-dt.avlbeds)<=0" (click)="filllist(dt)" class="btn btn-green btn-xs btn-square"><span tooltipPlacement="top" tooltip="view"><i class="fa fa-eye"></i></span></button>
                    </td>
                    <td> {{dt.totbeds}}</td>
                    <td>{{dt.rcstatus}}</td>
                    <td>{{dt.roomtype}}</td>
                    <td>{{dt.roomrent | currency:'INR':true}}</td>
                    <td>{{dt.hosteltype}}</td>
                    <td>{{dt.hostelid}}</td>
                    <td>{{dt.blockid}}</td>
                    <td style="text-align:center">
                      <a (click)="edit(dt)" class="btn btn-info btn-xs btn-square"><i class="fa fa-pencil"></i></a>&nbsp;
                      <a (click)="delete(dt)" class="btn btn-danger btn-xs btn-square"><i class="fa fa-trash"></i></a></td>
                  </tr>
                </tbody>
                <tbody *ngIf="mf.data.length == 0">
                  <tr rowspan="2">
                    <td colspan="14">
                      <h4 *ngIf="mf.data.length == 0" class="text-center"> No Data found</h4>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="14">
                      <mfBootstrapPaginator [rowsOnPageSet]="[5,10,12]"></mfBootstrapPaginator>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </form>

          </div>
        </div>


      </div>
      <!-- end DASHBOARD CIRCLE TILES -->

    </div>
    <!-- /.page-content -->

  </div>
  <!-- /#page-wrapper -->
  <!-- end MAIN PAGE CONTENT -->

</div>

<popup #popup1 (confirmClick)="addRoom(newForm.value)">

  <form [formGroup]="newForm">
    <div class="form-horizontal">
      <div class="form-group col-md-12">
        <div class="col-md-4">
          <label class="control-label"> Room No  </label>
          <input type="text" class="form-control" placeholder="Enter Room No" formControlName="roomno">
        </div>
        <div class="col-md-4">
          <label class="control-label"> Total Beds  </label>
          <input type="number" class="form-control" placeholder="Enter " formControlName="totbeds">
        </div>
        <div class="col-md-4">
          <label class="control-label"> Select Room Type  </label>
          <select formControlName="roomtype" class="form-control" (change)="getTypeof2($event)">
                     <option *ngFor="let item of typelist" value="{{item.type}}"> {{item.type}} </option>  
                  </select>
        </div>
        <div class="col-md-4">
          <label class="control-label"> Select Hostel Type  </label>
          <select formControlName="hosteltype" class="form-control" (change)="getHstType($event)">
                     <option  value="Girls"> Girls </option>
                        <option  value="Boys"> Boys </option>    
                  </select>
        </div>
        <div class="col-md-4">
          <label class="control-label"> Hostel Id  </label>
          <input type="text" class="form-control" placeholder="Enter Hostel Id" formControlName="hostelid">
        </div>
        <div class="col-md-4">
          <label class="control-label"> Block Id  </label>
          <input type="text" class="form-control" placeholder="Enter Block Id" formControlName="blockid">
        </div>
        <div class="col-md-4">
          <label class="control-label"> Room Rent  </label>
          <input type="number" class="form-control" placeholder="Enter Room Rent" formControlName="roomrent">
        </div>
      </div>
    </div>
  </form>
</popup>

<popup #popup2 (confirmClick)="editRoom(editForm.value)">
  <form [formGroup]="editForm">
    <div class="form-horizontal">
      <div class="form-group col-md-12">
        <div class=" col-md-4">
          <label> Room No </label>
          <input type="text" class="form-control" formControlName="roomno">
        </div>
        <div class=" col-md-4">
          <label> Avail Beds </label>
          <input type="number" class="form-control" formControlName="avlbeds">
        </div>
        <div class="col-md-4">
          <label> Total Beds </label>
          <input type="number" class="form-control" formControlName="totbeds">
        </div>
        <div class="col-md-4">
          <label> Room Status </label>
          <select formControlName="rcstatus" class="form-control">
                <option  value="available"> Available </option>
                <option value="filled"> Filled </option> 
          </select>
        </div>
        <div class="col-md-4">
          <label> Select Room Type </label>
          <select formControlName="roomtype" class="form-control">
             <option *ngFor="let item of typelist" value="{{item.type}}"> {{item.type}} </option>  
          </select>
        </div>
        <div class="col-md-4">
          <label> Room Rent </label>
          <input type="number" class="form-control" formControlName="roomrent">
        </div>
        <div class="col-md-4">
          <label> Select Hostel Type </label>
          <select formControlName="hosteltype" class="form-control">
                    <option  value="Girls"> Girls </option>
                    <option  value="Boys"> Boys </option>    
               </select>
        </div>
        <div class=" col-md-4">
          <label> Hostel Id </label>
          <input type="text" class="form-control" formControlName="hostelid">
        </div>
        <div class=" col-md-4">
          <label> Block Id </label>
          <input type="text" class="form-control" formControlName="blockid">
        </div>
      </div>
    </div>
  </form>
</popup>

<popup #popup3 (confirmClick)="deleteconfig()">

  <h3>Are you Sure to Delete this Room Permanently from {{hosteltype}} Hostel</h3>

</popup>

<popup #popup4 (confirmClick)="hide()">
  <div class="col-md-12">
    <h4>Available Beds List</h4>

    <table id="employee" class="table table-striped table-bordered dt-responsive table-green nowrap" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th nowrap>Room No</th>
          <th nowrap>Hosteltype</th>
          <th nowrap>Bed No(s)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{roomno}}</td>
          <td>{{hosteltype}}</td>
          <td nowrap>{{bedlists.toString()}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</popup>

<popup #popup5 (confirmClick)="hide()">
  <div class="col-md-12">
    <h4>Available Beds List</h4>

    <table id="employee" class="table table-striped table-bordered dt-responsive table-green nowrap" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th nowrap>Reg No</th>
          <th nowrap>Room No</th>
          <th nowrap>Bed No</th>
          <th nowrap>Hostel Type</th>
          <th nowrap>Room Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of filledlist">
          <td>{{a.reg_no}}</td>
          <td>{{a.roomno}}</td>
          <td nowrap>{{a.bedno}}</td>
          <td>{{a.hosteltype}}</td>
          <td>{{a.roomtype}}</td>

        </tr>
      </tbody>
    </table>
  </div>


</popup>